@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	position: relative;
	overflow-y: hidden;
	background-color: #09090b;
}


::-webkit-scrollbar {
	width: 8px;
	height: 6px;
}
::-webkit-scrollbar * {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #a1a1aa !important;
	border-radius: 5px;
}
